[Unit]
Description=The NGINX HTTP
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/home/andrey_murzich/nginx/logs/nginx.pid
ExecStartPre=/home/andrey_murzich/nginx/sbin/nginx -t
ExecStart=/home/andrey_murzich/nginx/sbin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
User=andrey_murzich
Group=andrey_murzich

[Install]
WantedBy=multi-user.target
